html, body {
  height: 100%;
  width: 100%;
  font-family: Geneva, sans-serif;
  font-size: 1.1em;
}

.imagetext{
  text-align: center;
  font-family: Calibri;
  font-size: 0.9em;
}

.headertext{
  text-align: center;
  font-weight: bold;
  font-family: "Arial Black";
}

.italic{
  font-style: italic;
}

.parallaxBG {
  /* The image used */
  background-image: url('Pictures/daytona_bg1.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Display below other elements */
  z-index: -5;
}

.logo
{
  /* The image used */
  background-image: url('Pictures/AM2.png');

  /* Full height */
  height: 100%;

  /* Positioning */
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;

  /* Display above other elements */
  z-index: 5;
}

/* 320 x 224, arcade resolution! */
.canvasborder{
  border: 1px solid #000000
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

